.contact img {
  width: 100%;
}
.mik{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 900%;
  width: 100%;
}
.kre{
    width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 800%;
}
